<div class="production-review">
  <p class="content-right-title">
    生产用车审核
  </p>
  <div class="content-taps search apply-search">
    <ul class="taps-title">
      <li>
        <input type="text" placeholder="车牌号" [(ngModel)]="plate_num">
      </li>
      <li>
        <p-calendar [(ngModel)]="startDate" [locale]="cn" [showIcon]="true" placeholder="开始时间"
        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" appendTo="body"></p-calendar>
      </li>
      <li>
        <p-calendar [(ngModel)]="endDate" [locale]="cn" [showIcon]="true" placeholder="结束时间"
        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" appendTo="body"></p-calendar>
      </li>
      <li class="table-btn">
        <button (click)="buttonSearch()"><a href="javascript:;" class="active">
          搜&nbsp;索
        </a></button>
      </li>
    </ul>
  </div>
  <div class="content-taps">
    <ul class="taps-title">
      <li *ngIf="type !=2"><a href="javascript:;" [class.active]="isActive == 0" (click)="toogleStatus(0)">待审核项目</a></li>
      <li *ngIf="type !=2"><a href="javascript:;" [class.active]="isActive == 2" (click)="toogleStatus(2)">审核完成待出发</a></li>
      <li><a href="javascript:;" [class.active]="isActive == 1" (click)="toogleStatus(1)">审核历史</a></li>
    </ul>
  </div>
  <div class="table-box">
    <p-dataTable [value]="checklist">
        <p-column header="所属部门">
          <ng-template let-data="rowData" pTemplate="body">
            <ng-container *ngFor="let cars of carlist">
              <span *ngIf="data.car_id == cars.car_id">{{cars.group_name}}</span>
            </ng-container>
          </ng-template>
        </p-column>
        <p-column header="车牌号">
          <ng-template let-data="rowData" pTemplate="body">
            <ng-container *ngFor="let cars of carlist">
              <span *ngIf="data.car_id == cars.car_id">{{cars.plate_num}}</span>
            </ng-container>
          </ng-template>
        </p-column>
        <p-column field="name" header="品牌">
          <ng-template let-data="rowData" pTemplate="body">
            <ng-container *ngFor="let cars of carlist">
              <span *ngIf="data.car_id == cars.car_id">{{cars.brand}}</span>
            </ng-container>
          </ng-template>
        </p-column>
        <p-column field="application_user_name" header="申请人"></p-column>
        <p-column field="driver_name" header="驾驶员">
          <!-- <ng-template let-data="rowData" pTemplate="body">
            <ng-container *ngFor="let cars of carsCanapply">
              <span *ngIf="data.car_id == cars.car_id">{{cars.drive_user_name}}</span>
            </ng-container>
          </ng-template> -->
        </p-column>
        <p-column header="运行区段">
          <ng-template let-data="rowData" pTemplate="body">
            <span>{{data.start_city}} - {{data.end_city}}</span>
          </ng-template>
        </p-column>
        <p-column field="use_for" header="用车原因"></p-column>
        <p-column field="check_status_txt" header="状态">
          <ng-template let-data="rowData" pTemplate="body">
            <!-- <span *ngIf="data.cur_check_level == 99">{{data.application_status_txt}}</span> -->
            <span >{{data.check_status_txt}}</span>
          </ng-template>
        </p-column>
        <ng-container *ngIf="isActive == 0">
          <p-column header="操作">
            <ng-template let-data="rowData" pTemplate="body">
              <button type="button" pButton label="详细" (click)="checkDetail(applicationPrint,data)"></button>
              <button type="button" pButton label="审核" (click)="confirmVerify(data)"></button>

            </ng-template>
          </p-column>
        </ng-container>
        <ng-container *ngIf="isActive == 1">
          <p-column header="操作">
            <ng-template let-data="rowData" pTemplate="body">
              <button type="button" pButton label="详细" (click)="checkDetail(applicationPrint,data)"></button>
            </ng-template>
          </p-column>
        </ng-container>
        <ng-container *ngIf="isActive == 2">
          <p-column header="操作">
            <ng-template let-data="rowData" pTemplate="body">
              <button type="button" pButton label="详细" (click)="checkDetail(applicationPrint,data)"></button>
              <button *ngIf="data.cur_check_level == 99 && data.application_status == 1" type="button" pButton label="出发" (click)="setoff(data)"></button>
              <button [disabled]="data.cur_check_level != 99 || data.application_status != 1" *ngIf="data.cur_check_level != 99 || data.application_status != 1" type="button" pButton label="出发"></button>
            </ng-template>
          </p-column>
        </ng-container>
    </p-dataTable>
    <div class="table-pagination" *ngIf="total_page">
      <ul>
        <li (click)="getPageDataLeft()"><a href="javascript:;"><i class="fa fa-angle-left"></i></a></li>

        <ng-container *ngIf="total_page<6">
          <li *ngFor="let i of pageArr" (click)="getPageData(i)"><a href="javascript:;" [class.active]="cur_page == i">{{i}}</a></li>
        </ng-container>

        <ng-container *ngIf="total_page>=6">
          <li (click)="getPageData(1)"><a href="javascript:;"  [class.active]="cur_page == 1">1</a></li>

          <li *ngIf="cur_page <= 3" (click)="getPageData(2)"><a href="javascript:;"  [class.active]="cur_page == 2">2</a></li>
          <li *ngIf="cur_page > 3" class="ellipses"><a href="javascript:;">···</a></li>

          <li *ngIf="cur_page<=3" (click)="getPageData(3)"><a href="javascript:;"  [class.active]="cur_page == 3">3</a></li>
          <li *ngIf="cur_page>3 && cur_page<total_page-2" (click)="getPageData(cur_page)"><a href="javascript:;"  [class.active]="cur_page == cur_page">{{cur_page}}</a></li>
          <li *ngIf="cur_page>=total_page-2" (click)="getPageData(total_page-2)"><a href="javascript:;"  [class.active]="cur_page == total_page-2">{{total_page-2}}</a></li>

          <li *ngIf="cur_page>=total_page-2" (click)="getPageData(total_page-1)"><a href="javascript:;"  [class.active]="cur_page == total_page-1">{{total_page-1}}</a></li>
          <li *ngIf="cur_page < total_page-2" class="ellipses"><a href="javascript:;">···</a></li>

          <li (click)="getPageData(total_page)"><a href="javascript:;"  [class.active]="cur_page == total_page">{{total_page}}</a></li>
        </ng-container>

        <li (click)="getPageDataRight()"><a href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
      </ul>
    </div>
  </div>
<!-- 出发 -->
<p-confirmDialog width="360" [closable]="false" acceptLabel="确定" rejectLabel="取消"></p-confirmDialog>
<!-- 审核 -->
<p-dialog header="审核" [(visible)]="checkDisplay" modal="modal" width="450" [closable]="true">
  <form>
    <div class="input-box">
      <p *ngIf="check_level_number != 2">
        <label for="">下级审核人</label>
        <select class="" name="select_check_user" [(ngModel)]="select_check_user" (ngModelChange)="select_check_user=$event">
          <option *ngFor="let check_user of check_level" [value]="check_user.user_id">{{check_user.name}}</option>
        </select>
      </p>
      <p style="margin:10px 0" *ngIf="check_level_number == 2">
        <label for="">天气情况</label>
        <select class="" name="select_check_weather" [(ngModel)]="select_check_weather" (ngModelChange)="select_check_weather=$event">
          <!-- <option *ngFor="let weather of check_weather" [value]="weather.id">{{weather.name}}</option> -->
          <option value="晴" selected="selected">晴</option>
          <option value="阴">阴</option>
          <option value="雨">雨</option>

        </select>
      </p>
      <p>
        <label for="">审核时间</label>
        <span style="width:180px;display:inline-block;margin-top:10px">{{today}}</span>
      </p>
    </div>
  </form>
        <p-footer>
            <button type="button" pButton (click)="submitCheck(1)" label="通过"></button>
            <button type="button" pButton (click)="submitCheck(2)" label="拒绝"></button>
        </p-footer>
</p-dialog>

</div>
<!-- 详细 -->
<app-application-detail #applicationPrint [carsCanapply]="carlist"></app-application-detail>
