<div class="cars-manage">
<p class="content-right-title">
  车辆管理
</p>
<div class="content-taps search">
  <ul class="taps-title">

    <li *ngIf="department_type == '领导' || privilege == 1 || department_type == '科室';else elseContain">
      <select placholder="车间" class="" name="" [(ngModel)]="select_groupid" (ngModelChange)="selectGroup($event)">
        <option [value]= "null">所有车间</option>
        <option *ngFor="let group of searchcondition.group" [value]="group.group_id">{{group.group_name}}</option>
      </select>
    </li>
    <ng-template #elseContain>
      <li>
        <input type="text" readonly="readonly" name="" value="{{apply_group}}">
      </li>
    </ng-template>

    <li>
      <select placholder="车辆品牌" class="" name="" [(ngModel)]="select_brand" (ngModelChange)="selectCar($event)">
        <option [value]= "null">所有品牌</option>
        <option *ngFor="let brand of searchcondition.brand" [value]="brand">{{brand}}</option>
      </select>
    </li>
    <li><input type="text" placeholder="姓名" [(ngModel)]="search_name"></li>
    <li>
      <select placholder="车辆状态" class="" name="" [(ngModel)]="selecte_status" (ngModelChange)="selectStatus($event)">
        <option [value]= -1>所有状态</option>
        <option *ngFor="let status of searchcondition.car_status" [value]="status.id">{{status.name}}</option>
      </select>
    </li>
    <li class="table-btn">
      <button (click)="buttonSearch()"><a href="javascript:;" class="active">
        搜&nbsp;索
      </a></button>
    </li>
  </ul>
</div>
<div class="table-box">
  <p-dataTable [value]="car_list" [responsive]="true">
      <p-column field="group_name" header="所属部门">
        <!-- <ng-template let-data="rowData" pTemplate="body">
            <ng-container *ngFor="let item of searchcondition.group">
              <span *ngIf="data.group_id == item.id">{{item.group_name}}</span>
            </ng-container>
        </ng-template> -->
      </p-column>
      <p-column field="plate_num" header="车牌号"></p-column>
      <p-column field="brand" header="品牌"></p-column>
      <p-column field="incharge_user_name" header="负责人">
        <!-- <ng-template let-data="rowData" pTemplate="body">
            <ng-container *ngFor="let incharge of add_condition.incharge">
              <span *ngIf="data.incharge_user_id == incharge.user_id">{{incharge.name}}</span>
            </ng-container>
        </ng-template> -->
      </p-column>
      <p-column field="drive_user_name" header="驾驶员">
        <!-- <ng-template let-data="rowData" pTemplate="body">
            <ng-container *ngFor="let driver of add_condition.driver">
              <span *ngIf="data.drive_user_id == driver.user_id">{{driver.name}}</span>
            </ng-container>
        </ng-template> -->
      </p-column>
      <p-column field="manage_user_name" header="管理车辆人">
        <!-- <ng-template let-data="rowData" pTemplate="body">
            <ng-container *ngFor="let manager of add_condition.manager">
              <span *ngIf="data.manage_user_id == manager.user_id">{{manager.name}}</span>
            </ng-container>
        </ng-template> -->
      </p-column>
      <p-column field="car_status_txt" header="车辆状态"></p-column>
      <p-column field="quality_status" header="质量状态"></p-column>
      <p-column header="操作">
        <ng-template let-data="rowData" pTemplate="body">
            <button type="button" pButton label="修改" (click)="edit(data)"></button>
            <button type="button" pButton label="删除" [disabled]="department_type != '科室'" (click)="delete(data)"></button>
        </ng-template>
      </p-column>
  </p-dataTable>
  <div class="table-pagination" *ngIf="total_page">
    <ul>
      <li (click)="getPageDataLeft()"><a href="javascript:;"><i class="fa fa-angle-left"></i></a></li>

      <ng-container *ngIf="total_page<6">
        <li *ngFor="let i of pageArr" (click)="getPageData(i)"><a href="javascript:;" [class.active]="cur_page == i">{{i}}</a></li>
      </ng-container>

      <ng-container *ngIf="total_page>=6">
        <li (click)="getPageData(1)"><a href="javascript:;"  [class.active]="cur_page == 1">1</a></li>

        <li *ngIf="cur_page <= 3" (click)="getPageData(2)"><a href="javascript:;"  [class.active]="cur_page == 2">2</a></li>
        <li *ngIf="cur_page > 3" class="ellipses"><a href="javascript:;">···</a></li>

        <li *ngIf="cur_page<=3" (click)="getPageData(3)"><a href="javascript:;"  [class.active]="cur_page == 3">3</a></li>
        <li *ngIf="cur_page>3 && cur_page<total_page-2" (click)="getPageData(cur_page)"><a href="javascript:;"  [class.active]="cur_page == cur_page">{{cur_page}}</a></li>
        <li *ngIf="cur_page>=total_page-2" (click)="getPageData(total_page-2)"><a href="javascript:;"  [class.active]="cur_page == total_page-2">{{total_page-2}}</a></li>

        <li *ngIf="cur_page>=total_page-2" (click)="getPageData(total_page-1)"><a href="javascript:;"  [class.active]="cur_page == total_page-1">{{total_page-1}}</a></li>
        <li *ngIf="cur_page < total_page-2" class="ellipses"><a href="javascript:;">···</a></li>

        <li (click)="getPageData(total_page)"><a href="javascript:;"  [class.active]="cur_page == total_page">{{total_page}}</a></li>
      </ng-container>

      <li (click)="getPageDataRight()"><a href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>
</div>
<p-dialog header="车辆管理" [(visible)]="carsDisplay" modal="modal" width="660" [closable]="false" [responsive]="true">
  <form>
    <div class="input-box">
      <p>
        <label for="">所属部门</label>
        <ng-container *ngFor="let department of add_condition.group">
          <span *ngIf="editcars.group == department.id">{{department.group_name}}</span>
        </ng-container>

      </p>
    </div>
    <div class="input-box">
      <p>
        <label for="">车牌号</label>
        <input type="text" readonly="readonly" name="plate_num" [(ngModel)]="editcars.plate_num">
      </p>
      <p>
        <label for="">车辆品牌</label>
        <input type="text" readonly="readonly" name="brand" [(ngModel)]="editcars.brand">
      </p>

    </div>
    <div class="input-box">
      <p>
        <label for="">车辆管理员</label>
        <!-- <select class="" name="manager" [(ngModel)]="editcars.manager" (ngModelChange)="editcars.manager = $event">
          <option *ngFor="let manager of add_condition.manager" [value]="manager.user_id">{{manager.name}}</option>
        </select> -->
        <input type="text" name="manager" [(ngModel)]="editcars.manager">
      </p>
      <p>
        <label for="">负责人</label>
        <!-- <select class="" name="incharge" [(ngModel)]="editcars.incharge" (ngModelChange)="editcars.incharge = $event">
          <option *ngFor="let incharge of add_condition.incharge" [value]="incharge.user_id">{{incharge.name}}</option>
        </select> -->
        <input type="text" name="incharge" [(ngModel)]="editcars.incharge">
      </p>
    </div>
    <div class="input-box">
      <p>
        <label for="">驾驶员</label>
        <!-- <select class="" name="driver" [(ngModel)]="editcars.driver" (ngModelChange)="editcars.driver = $event">
          <option *ngFor="let driver of add_condition.driver" [value]="driver.user_id">{{driver.name}}</option>
        </select> -->
        <input type="text" name="driver" [(ngModel)]="editcars.driver">
      </p>
      <p>
        <label for="">车辆状态</label>
        <select class="" name="car_status" [(ngModel)]="editcars.car_status" (ngModelChange)="editcars.car_status = $event">
          <option *ngFor="let car_status of add_condition.car_status" [value]="car_status.id">{{car_status.name}}</option>
        </select>
      </p>
    </div>
    <div class="input-box">
      <p>
        <label for="">质量状态</label>
        <select class="" name="quality_status" [(ngModel)]="editcars.quality_status" (ngModelChange)="editcars.quality_status = $event">
          <option value="正常">正常</option>
          <option value="良好">良好</option>
          <option value="能使用">能使用</option>
        </select>
      </p>
    </div>
  </form>
        <p-footer>
            <button type="button" pButton (click)="sureEdit()" label="确定"></button>
            <button type="button" pButton (click)="carsDisplay=false" label="取消"></button>
        </p-footer>
</p-dialog>
<!-- 删除 -->
<p-confirmDialog width="360" [closable]="false" acceptLabel="确定" rejectLabel="取消"></p-confirmDialog>
</div>
