<!-- 计划详情表 -->
<div class="plan-detail-dialog">
  <p-dialog header="派车单" [(visible)]="planDisplay" modal="modal" width="660" height="617" [closable]="false">
    <p-header>
      <div class="plan-detail-dialog-title">
        <button (click)="printDetail()"><a href="javascript:;">打&nbsp;&nbsp;印</a></button>
      </div>
      </p-header>
    <form #printform>
      <div class="input-box">
        <p>
          <label for="">申请部门:</label>
          <span>{{detailform.application_group_name}}</span>
        </p>
        <p>
          <label for="">申请人:</label>
          <span>{{detailform.application_user_name}}</span>
        </p>
      </div>
      <div class="input-box">
        <p>
          <label for="">车牌号:</label>
          <ng-container *ngFor="let cars of carsCanapply">
            <span *ngIf="detailform.car_id == cars.car_id">{{cars.plate_num}}</span>
          </ng-container>

        </p>
        <p>
          <label for="">车辆品牌:</label>
          <ng-container *ngFor="let cars of carsCanapply">
            <span *ngIf="detailform.car_id == cars.car_id">{{cars.brand}}</span>
          </ng-container>
        </p>
      </div>
      <div class="input-box">
        <p>
          <label for="">出发城市:</label>
          <span>{{detailform.start_city}}</span>
        </p>
        <p>
          <label for="">目的城市:</label>
          <span>{{detailform.end_city}}</span>
        </p>
      </div>
      <div class="input-box">
        <p>
          <label for="">出车时间:</label>
          <span>{{detailform.start_time}}</span>
        </p>
        <p>
          <label for="">收车时间:</label>
          <span>{{detailform.end_time}}</span>
        </p>
      </div>
      <div class="input-box">
        <p>
          <label for="">监控人:</label>
          <span>{{detailform.monitor}}</span>
        </p>
        <p>
          <label for="">司机:</label>
          <span>{{detailform.driver_name}}</span>
        </p>
      </div>
      <div class="input-box">
        <p>
          <label for="">人数:</label>
          <span>{{detailform.person_num}}</span>
        </p>
        <p *ngIf="type != 'urgent'">
          <label for="">审核人:</label>
          <span>{{detailform.check_info[1].check_user_name}}</span>
          <span *ngIf="detailform.check_info[2]">、{{detailform.check_info[2].check_user_name}}</span>
        </p>
      </div>
      <div class="input-box" *ngIf="type != 'urgent'">
        <p>
          <label for="">审核状态:</label>
          <span class="span-box">
            <span *ngIf="!detailform.check_info[2]">{{detailform.check_info[1].check_status_txt}}</span>
            <span *ngIf="detailform.check_info[2]">{{detailform.check_info[2].check_status_txt}}</span>
          </span>
        </p>
        <p *ngIf="detailform.check_info[2]">
          <label for="">天气:</label>
          <span>&nbsp;{{detailform.check_info[2].weather}}</span>
        </p>
      </div>
      <div class="input-box">
        <p class="text-area">
          <label for="">车辆用途:</label>
          <span  style="display:inline-block;width:80%">{{detailform.use_for}}</span>
        </p>
      </div>
    </form>
          <p-footer>
              <button type="button" pButton (click)="planDisplay=false" label="确定"></button>
              <button type="button" pButton (click)="planDisplay=false" label="取消"></button>
          </p-footer>
  </p-dialog>
</div>
