<ul class="content-left">
  <li class="part_1 part" [class.active]="type == 0">
    <!-- 				part_1表示为右边导航第一部分 -->
    <!-- 				part_list表示这个导航下面还有折叠的子导航 -->
    <!-- 				part 代表这个栏目是导航的意思，用来控制导航的共有样式 -->
    <p class="part-title" (click)="getChecklist(0,child)"><a routerLink="./productionReview">正式用车审核</a></p>


  </li>
  <li class="part_1 part" [class.active]="type == 1">
    <p class="part-title" (click)="getChecklist(1,child)"><a routerLink="./productionReview">临时用车审核</a></p>
  </li>
  <li class="part_1 part" [class.active]="type == 2">
    <p class="part-title" (click)="getChecklist(2,child)"><a routerLink="./productionReview">紧急用车</a></p>
  </li>
</ul>
<div class="content-right">
  <!-- <router-outlet></router-outlet> -->
  <app-production-review #child [type]="type"></app-production-review>
</div>
