.alysis{
  position: absolute;
  width: 100%;
  top: 90px;
  left: 0;
  background: #ffffff;
}
.alysis-content{
  width: 96%;
  height: 70px;
  line-height: 70px;
  min-width: 1300px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}
.alysis-content>div{
  float: left;
}
.alysis-content div.title{
  width: 15%;
  font-size: 20px;
  color: #7d6605;
}
.alysis-content div.search{
  width: 65%;
}
:host/deep/.ui-calendar.ui-calendar-w-btn input{
  padding: 11px 5px;
}
.alysis-content div.search ul li{
  float: left;
  width: 20%;
}
.alysis-content div.pagination ul{
  width: 100%;
}
.alysis-content div.pagination ul li{
  display: inline;
}
.alysis-content ul li.alysis_button{
  width: 10% !important;
}
.alysis-content div.pagination{
  width: 20%;
}
.pagination ul{
  float: right;
}
.pagination a{
  padding: 5px 10px;
  color: #e0b502;
  border: 1px solid #cccccc;
  margin: 0 5px;
}
.pagination a.active{
  background: #e0b502;
  color: #fff;
  border: 1px solid #8e7302;
}
.alysis div.search button{
  margin-top: 2px;
}
.alysis div.search button a{
  background: #49460c;
  border: 1px solid #49460c;
  padding: 8px 25px;
}
.alysis-table {
    margin-top: 70px;
    height: calc(100% - 70px);
    overflow: auto;
}

/*表格*/
table{

}
table thead{
  background: #dad9c5;
}
table thead td{
  text-align: center;
  padding: 5px;
  border-right: 1px solid #979797;
  border-bottom: 1px solid #979797;
}
table tbody tr:nth-child(3n-1) td{
  background: #eeece0;
}
table tbody tr:nth-child(3n-1) td:first-child{
  background: #eef2f5;
}
table tbody tr:nth-child(3n-2) td:first-child{
  border-bottom: 1px solid #979797;
  border-left: 1px solid #979797;
  width: 125px;
  padding: 0 20px;
}
table tbody tr:nth-child(3n) td{
  border-bottom: 1px solid #979797;
}
table tbody tr td{
  text-align: center;
  padding: 10px 5px;
  border-right: 1px solid #979797;
}
table tbody tr:nth-child(3n-2) td:nth-child(2){
  padding: 15px 5px 5px 5px;
}
table tbody tr:nth-child(3n) td:first-child{
  padding: 5px 5px 15px 5px;
}
table tbody tr:nth-child(2) td{
  padding: 10px 5px;
}
table span{
  display: inline-block;
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
table b{
  font-family: 'Microsoft YaHei';
  text-align: center;
}
table span.formal{
  background: #8cc152;
}
table span.temporary{
  background: #3bafda;
}
table span.urgent{
  background: #6832f0;
}


/*车辆详情悬浮*/
/*:hsot/deep/.ui-overlaypanel .ui-overlaypanel-content{
  padding: 0px !important;
}*/
.overlay_content{
  width: 230px;
}
.overlay_content>span.overlay_content_title{
  display: inline-block;
  font-size: 18px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 3px;
  color: #fff;
}
.overlay_content ul{
  padding: 10px;
  border-bottom: 1px solid #eef2f5;
}
.overlay_content ul li.car_title{
  padding: 5px 0;
  font-size: 16px;
}
.overlay_content ul li{
  font-size: 14px;
  padding: 3px 0;
}
