<div class="headers">
		<div class="header-left">
			<a href="javascript:;"><img src="./assets/images/logo.png"></a>
			<span>成都供电段综合系统</span>
		</div>
		<ul class="header-right">
			<li>
				<p>{{userInfo.name}}：欢迎您</p>
				<p>{{mowTime}}</p>
			</li>
			<li (click)="logout()">
				<a href="javascript:;"><img src="./assets/images/btn_quit.png">退出</a>
			</li>
		</ul>
	</div>
  <div class="content">
    <div class="content-module">
      <div><a href="http://localhost/web_review?id_card={{id_card}}" style="background-color:#5a8fd0">干部履职系统</a></div>
      <div><a routerLink="/page" style="background-color:#e0b502">生产用车监督系统</a></div>
    </div>
    <div class="content-module">
      <div><a href="http://localhost/web_review?id_card={{id_card}}" style="background-color:#6ad05a">生产备品系统</a></div>
      <div><a href="http://localhost/web_review?id_card={{id_card}}" style="background-color:#5697f5">信息设备管理系统</a></div>
    </div>
  </div>
  <footer>
    <small>copy&copy;2016-2020版权所有：成都铁路局成都供电段&nbsp;&nbsp;&nbsp;&nbsp;技术出品：接触网技术科（信息）</small>
  </footer>
